{% extends '@Ui/Layout/default.html.twig' %}

{% block main_content %}
    {% for i, specification in specifications %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-aqua-active">
                        <div class="btn-group pull-right">
                            <a href="{{ url('ui_default_show') }}" title="Setting" class="btn btn-sm btn-default btn-flat"><i class="fa fa-cog"></i></a>
                        </div>
                        <h3 class="widget-user-username">{{ specification.title }}</h3>
                        <h5 class="widget-user-desc">{{ specification.version }}</h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle" src="" data-src="holder.js/90x90?text=logo">
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">{{ resources[i]|length }}</h5>
                                    <span class="description-text">RESOURCES</span>
                                </div>
                            </div>
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">124</h5>
                                    <span class="description-text">DEFINITIONS</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">523</h5>
                                    <span class="description-text">TESTS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-aqua-active">
                        <div class="btn-group pull-right">
                            <a href="{{ url('ui_default_show') }}" title="Setting" class="btn btn-sm btn-default btn-flat"><i class="fa fa-cog"></i></a>
                        </div>
                        <h3 class="widget-user-username">Batch Api</h3>
                        <h5 class="widget-user-desc">1.1</h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle" src="" data-src="holder.js/90x90?text=logo">
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">{{ resources[i]|length }}</h5>
                                    <span class="description-text">RESOURCES</span>
                                </div>
                            </div>
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">72</h5>
                                    <span class="description-text">DEFINITIONS</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">127</h5>
                                    <span class="description-text">TESTS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
